/* Registeration Page */

.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    flex-direction: column;
    background-color: #ffdee9;
    background-image: linear-gradient(0deg,#ffdee9,#b5fffc 100%);
  }
  .form-container form{
    padding: 2px;
    background-color: #fff;
  }

.form-container form input{
    border-radius: 0;
    
}
.form-container form button{
    border: 1px solid black;
    border-radius: 0;
    background-color: #000;
    color: white;
    width: 250px;
}